@CHARSET "ISO-8859-1";

html, body{
	height:100%;
	padding:0;
	margin:0;
}

::-webkit-scrollbar {
	width: 10px;
	height:10px;
	background-color:rgba(240,240,240,1);
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1); 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1); 
}

input{
	border-radius:3px;
	margin:10px;
	font-size: -webkit-xxx-large;
}

input:focus{
	background-color:rgba(250,235,200,1);
}

select{
	font-size: -webkit-xxx-large;
}

.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex-direcion: row-reverse;
    text-align: center;
	/*font-size: -webkit-xxx-large;*/
}

.flex-item { 
	width: 350px; 
	height: 200px; 
	margin: 10px; 
	text-align: left;
} 

#img-div{
	text-align: right;
}

#change-profile-div{
	text-align: right;
}

.content-label{
	font-weight: bold;
	font: 10px;
}

#anstehende-fahrten-div{
	width: 630px;
	height: 300px;
	background-color: Gainsboro;
	text-align: left;
}

#vergangene-fahrten-div{
	width: 630px;
	height: 300px;
	background-color: Gainsboro;
	text-align: left;
}

table, th, td {
    border: 1px solid black;
}

.dummy-container{
	
}

.menu-container{
	width:25%;
	height:25%;
	border: groove 1px rgba(100,100,100,1);
	display:table-cell;
	/*font-family: cursive;*/
    font-variant: small-caps;
    text-align: -webkit-center;
    color: darkred;
    font-size: -webkit-xxx-large;
	position: relative;
}

.menu-container:hover{
	/*font-family:comic;*/
	border:3px solid rgba(100,200,100,1);
	
}

.overlay-container{
	font-size: -webkit-xxx-large;
	background-color:rgba(255,255,255,1.0);
}

.abort{
	width: 15%;
	position: absolute;  
	bottom: 1%;
	right: 1%;
	z-index: 3;
}

.check{
	height : 10%;
	position: absolute;
	bottom: 1%;
	left: auto;
	right: auto;
	z-index: 3;
	

}

.check_final{
	height : 10%;
	position : absolute;
	vertical-align:center;
	z-index: 3;
}

.check_final_final{
	height : 10%;
	position : absolute;
		bottom: 1%;
	vertical-align:center;
	z-index: 3;
}


.table-row{
	display:table-row;
	height:25%;
}

.home-screen-icon{
	width: 100%;
	position: absolute;  
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.centered-label{
	display: -webkit-box;
	text-align: -webkit-center;
	font-size: 70px;
}

.left-label{
	display: -webkit-box;
	font-size: 70px;
}


.dropdown {
	top: 15%;
	left: 20%;
	width: 60%;
	position: fixed;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-size: 40px;
}


h3.heading{
	text-align: center;
}

.textbox_label{
	text-align: center;
	padding-right:5em
}

.bottom-right-button{
	position:fixed;
	right: 5%;
	bottom: 15%;
	width: 20%;
	font-size: 40px;
}

.select_label{
	text-align: center;
	vertical-align: center;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}

.highlighted_label{
	text-align: center;
	vertical-align: center;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.book_selector{
	margin: 0 auto;
	text-align:center;
	vertical-align: center;
	display: block;	

}

#abort_button{
	display: none;

}

#check_button{
	width : 15%;
	display: table-footer-group;
	
}

#check_button_final{
	width : 15%;
	height : 15%;
	display: table-footer-group;
	
}

#box-container{
	position:relative; /* braucht es für die Footer Position*/
	margin:0 auto; /* Zentriert die Seite (nicht in IE5) */
	width:100%;
	/*height:auto !important; /* normale Browser */
	height:100%; /* IE6: setzt dies wie min-height um*/
	min-height:100%; /* normale Browser */
	overflow:none;
	
	font-family:Arial Narrow;
	font-weight:bold;
	display:table;
	z-index:1;
}

#route-container{
	background: rgba(240,220,20,1); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, rgba(240,220,20,1), rgba(250,230,40,1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgba(240,220,20,1), rgba(250,230,40,1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgba(240,220,20,1), rgba(250,230,40,1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgba(240,220,20,1), rgba(250,230,40,1)); /* Standard syntax */
}

#drunk-container{
	background: rgba(240,70,70,1); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, rgba(240,70,70,1), rgba(250,90,90,1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgba(240,70,70,1), rgba(250,90,90,1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgba(240,70,70,1), rgba(250,90,90,1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgba(240,70,70,1), rgba(250,90,90,1)); /* Standard syntax */
}

#settings-container{
	background: rgba(120,120,240,1); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, rgba(120,120,240,1), rgba(140,140,250,1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgba(120,120,240,1), rgba(140,140,250,1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgba(120,120,240,1), rgba(140,140,250,1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgba(120,120,240,1), rgba(140,140,250,1)); /* Standard syntax */
}

#profile-container{
	background: rgba(240,20,200,1); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, rgba(240,20,200,1), rgba(250,30,220,1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgba(240,20,200,1), rgba(250,30,220,1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgba(240,20,200,1), rgba(250,30,220,1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgba(240,20,200,1), rgba(250,30,220,1)); /* Standard syntax */
}

#drunk_menu-container{
	position:fixed;
	width:100%;
	height:100%;
	left:0%;
	top:0%;
	z-index:2;
	overflow:auto;
	/*box-shadow:5px 10px 10px rgba(50,10,80,1);*/
	display:none;
}

#profile_page-container{
	position:fixed;
	width:100%;
	height:100%;
	left:0%;
	top:0%;
	z-index:2;
	overflow:auto;
	/*box-shadow:5px 10px 10px rgba(50,10,80,1);*/
	display:none;
}

#settings_page-container{
	position:fixed;
	width:100%;
	height:100%;
	left:0%;
	top:0%;
	z-index:2;
	overflow:auto;
	/*box-shadow:5px 10px 10px rgba(50,10,80,1);*/
	display:none;
}

#dummy_page-container{
	/*font-family: fantasy;*/
	position:fixed;
	width:100%;
	height:100%;
	left:0%;
	top:0%;
	z-index:2;
	overflow:auto;
	/*box-shadow:5px 10px 10px rgba(50,10,80,1);*/
	display:none;
}

#drunk_menu-container:hover{
	background-color:rgba(255,255,255,1);
}

#profile_page-container:hover{
	background-color:rgba(255,255,255,1);
}

#dummy_page-container:hover{
	background-color:rgba(255,255,255,1);
}
#notification{
	position:fixed;
	width:100%;
	height:60%;
	left: 0;
	top: 0;
	z-index:3;
	display: none;
	background-color: rgba(255, 255, 255, 0.9);
}

#infoLabel{
	padding-top: 10%;
}
#priceLabel{
	position:fixed;
	left: 5%;
	bottom: 15%;
}

#book_menu{
	display:none;
}

#book_specifications{
	display:none;
}

#arival{
	display:none;
}

#booking_page_route-container{
	position:fixed;
	width:100%;
	height:100%;
	left:0%;
	top:0%;
	z-index:2;
	overflow:auto;
	/*box-shadow:5px 10px 10px rgba(50,10,80,1);*/
	display:none;
}
#orderButton{
	position:fixed;
	right: 5%;
	bottom: 15%;
	width: 20%;
	font-size: 40px;
}

#route_page_specifications{
	
	position:fixed;
	width:100%;
	height:100%;
	left:0%;
	top:0%;
	z-index:2;
	overflow:auto;
	/*box-shadow:5px 10px 10px rgba(50,10,80,1);*/
	display:none;
}
