@CHARSET "ISO-8859-1";

body{
}

input{
	border-radius:3px;
	margin:10px;
}

input:focus{
	background-color:rgba(250,235,200,1);
}

.menu-container{
	width:25%;
	height:25%;
	border: groove 1px rgba(100,100,100,1);
	display:table-cell;
	font-family: cursive;
    font-variant: small-caps;
    text-align: -webkit-center;
    color: darkred;
    font-size: -webkit-xxx-large;
}

.menu-container:hover{
	font-family:comic;
	border:1px solid rgba(100,200,100,1);
	
}

.table-row{
	display:table-row;
}

#box-container{
	width:90%;
	height:400px;
	margin:5%;
	border: groove 1px rgba(220,220,220,1);
	border-radius: 5px;
	display:table;
	z-index:1;
}

#route-container{
	background-color:rgba(240,220,0,1);
}

#drunk-container{
	background-color:rgba(240,70,70,1);
}

#settings-container{
	background-color:rgba(120,120,240,1);
}

#profile-container{
	background-color:rgba(240,20,200,1);
}

#drunk_menu-container{
	background-color:rgba(220,230,210,0.8);
	width:80%;
	height:300px;
	position:fixed;
	left:10%;
	top:10%;
	z-index:2;
	overflow:auto;
	box-shadow:5px 10px 10px rgba(50,10,80,1);
	display:none;
}

#drunk_menu-container:hover{
	background-color:rgba(220,230,210,1);
}


